<div id="typo3-docheader">
	<div id="typo3-docheader-row1">
		<div class="buttonsleft"></div>
		<div class="buttonsright">
			<div class="buttongroup">
				###SHORTCUT###
			</div>
		</div>
	</div>
	<div id="typo3-docheader-row2">
		<div class="docheader-row2-left">
			<div class="buttongroup">
				<form name="options" action="" method="post">
					###MENUBAR###
				</form>
			</div>
		</div>
		<div class="docheader-row2-right">
			<!-- clear log menu -->
			<form method="post" action="" name="cleanPeriod">
				<!-- cleanPeriod cleanExt cleanAll-->
				###CLEARMENU###
				###OPEN_NEW_VIEW###
			</form>
		</div>
	</div>
</div>
<div id="typo3-docbody">
	<div id="typo3-inner-docbody">

		<!-- MAIN Header in page top -->
		###HEADER###
		###MESSAGE###
		<br />
		<div id="t3-log-grid"></div>
<!--###CONTENT###-->
	</div>
	<!-- Fields required for history management -->
	<form id="history-form" class="x-hidden">
		<input type="hidden" id="x-history-field" />

		<iframe id="x-history-frame"></iframe>
	</form>

</div>